%h1 Listing products

%table{:class => "table table-bordered table-striped"}
  %tbody
    - @products.each do |product|
      %tr
        %td= image_tag product.image_url
        %td
          %h2=product.title
          %p=product.description
        %td= product.price
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
